body {
    color: #2e3440;
    font-family: monospace, sans-serif;
    margin: 1rem;
    margin-bottom: 5rem;
}

li {
    margin-bottom: 0.5rem;
}

blockquote {
  padding: 1rem;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  margin: 2rem 0;
}

pre {
    background: rgb(247, 247, 247) !important;
    padding: 0.5rem;
    white-space: pre-wrap;
    border: 1px solid grey;
    margin-bottom: 0;
}

code {
    background: rgb(247, 247, 247) !important;
    line-height: 1.6;
    padding: 0 !important;
}


blockquote {
    color: #4c566a;
    padding-left: .5rem;
    padding: .1rem;
}

td, th {
    border: 1px solid black;
    padding: 0.5rem
}

th {
    background: rgb(247, 247, 247);
}

table {
    margin-left: 2rem;
    border: 0;
    border-collapse: collapse;
}

img {
    max-width: 100%;
}

li > img {
    vertical-align: text-top;
}

hr {
    width: 50%;
    margin: auto;
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: rgb(247,247,247);
}
